* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    overflow-x: hidden;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}
ul, li {
    text-decoration: none;
}
.header {
    background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about__title {
    width: 580px;
    margin-top: 170px;
    margin-bottom: 170px;
}
.about__h1 {
    font-size: 120px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    color: #faf9f9;
    margin-bottom: 30px;
}
h1 span {
    font-size: 30px;
    font-weight: 700;
    color: #fbb731;
    display: block;
    margin-bottom: 8px;
}
.about__txt {
    width: 524px;
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    line-height: 1.4;
    color: #dedede;
    margin-bottom: 65px;
}
.about__link {
    font-size: 14px;
    text-transform: uppercase;
    color: #1e2f40;
    background: #fbb731;
    padding: 20px 45px;
    border-radius: 5px;
}
.about__line {
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
}
.img1 {
    max-width: 829px;
    position: absolute;
    left: -230px;
    top: 0;
}
.promo {
    display: flex;
    justify-content: space-between;
    height: 395px;
    margin-top: 186px;
    margin-bottom: 185px;
}
.promo__one {
    width: 580px;
    background: url("../img/burger2.jpg") no-repeat center top;
}
.promo h2 {
    color: #fff;
}
.promo__one-txt span {
    display: block;
    font-size: 14px;
    background: #F37335;
    padding: 5px 18.5px;
    width: 102px;
    border-radius: 10px;
    margin-bottom: 3px;
    text-align: center;
}
.promo__one-txt h2 {
    margin-bottom: 8px;
    font-size: 60px;
}
.promo p {
    color: #FAF9F9;
}
.promo a {
    margin-top: 20px;
    color: #1E2F40;
    background: #FBB731;
    padding: 20px 25px;
    width: 170px;
    border-radius: 5px;
    text-align: center;
}
.promo__one-txt {
    width: 378px;
    margin: 116px 152px 116px 50px;
}
.promo__two {
    width: 580px;
    background: url("../img/burger3.jpg") no-repeat center top;
}
.promo__two-txt h2 {
    margin-bottom: 10px;
    font-size: 44px;
}
.promo__two-txt {
    width: 353px;
    margin: 102px 177px 101px 50px;
}
.contacs {
    display: flex;
    justify-content: space-between;
}
.burger4 {
}
.contacs__link {
}
.nav {
}
.menu {
}
.oder {
}
.pay {
}
.contact {
}
.contacs__inf {
}
.contacs__tel {
}