* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    overflow-x: hidden;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    transition: all 0.5s ease;
}
li {
    list-style-type: none;
}
.header {
    background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about__title {
    width: 580px;
    margin-top: 170px;
    margin-bottom: 170px;
}
.about__h1 {
    font-size: 120px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    color: #faf9f9;
    margin-bottom: 30px;
}
h1 span {
    font-size: 30px;
    font-weight: 700;
    color: #fbb731;
    display: block;
    margin-bottom: 8px;
}
.about__txt {
    width: 524px;
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-weight: lighter;
    line-height: 1.4;
    color: #dedede;
    margin-bottom: 65px;
}
.about__link {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #1e2f40;
    background: #fbb731;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 170px;
}
.about a:hover {
    background: rgb(255, 255, 255);
}
.about__line {
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
}
.img1 {
    max-width: 829px;
    position: absolute;
    left: -230px;
    top: 0;
}
.promo {
    display: flex;
    justify-content: space-between;
    height: 395px;
    margin-top: 186px;
    margin-bottom: 185px;
}
.promo__one {
    width: 580px;
    background: url("../img/burger2.jpg") no-repeat center top;
}
.promo h2 {
    color: #fff;
}
.promo__one-txt span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    background: #F37335;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 102px;
    border-radius: 50px;
    margin-bottom: 3px;
    text-align: center;
}
.promo__one-txt h2 {
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 800;
}
.promo p {
    color: #FAF9F9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.1px;
}
.promo a {
    margin-top: 20px;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 170px;
    border-radius: 5px;
    text-align: center;
}
.promo a:hover {
    background: #FAF9F9;
}
.promo__one-txt {
    width: 378px;
    margin: 116px 152px 116px 50px;
}
.promo__two {
    width: 580px;
    background: url("../img/burger3.jpg") no-repeat center top;
}
.promo__two-txt h2 {
    margin-bottom: 10px;
    font-size: 44px;
}
.promo__two-txt {
    width: 353px;
    margin: 102px 177px 101px 50px;
}
.footer {
    background: #1E2F40;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contacs {
    display: flex;
    justify-content: space-between;
    height: 186px;
    margin-top: 111px;
    margin-bottom: 106px;
}
.contacs h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 12px;
    letter-spacing: 0.1px;
}
.contacs .contacs__link h2 {
    font-weight: 700;
    margin-bottom: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contacs__link {
}
.nav a {
    color: #dedede;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 17px;
}
.contacs a:hover {
    color: rgb(255, 187, 0);
}
.contacs__inf span{
    color: #dedede;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    display: block;
}
.contacs__inf p {
    font-family: "Lato", sans-serif;
    margin-bottom: 12px;
    line-height: 1.8;
}
.contacs__inf {
    color: #FAF9F9;
}
.contacs__tel a {
    color: #FBB731;
    line-height: 2;
    font-size: 20px;
    font-weight: 800;
}
@media screen and (max-width: 1180px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .container {
        width: 100%;
    }
}